@mixin boxStyle($width, $height, $bg, $radius) {
  width: $width;
  height: $height;
  background-color: $bg;
  @if ($radius!=0) {
    border-radius: $radius;
  }
}
@mixin imgStyle($width, $height, $radius) {
  width: $width;
  height: $height;
  overflow: hidden;
  @if ($radius!=0) {
    border-radius: $radius;
  }
}
@mixin textStyle($size, $color, $weight) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin media($size){
  @if($size == L){
   @media (max-width:1023px) {
      @content;   
   }
  }
  @else if($size == M){
      @media (max-width:668px) {
          @content;
  }
  }
}
