@import "mixin";
@import "variables";
body {
  background: linear-gradient(
    20deg,
    rgb(130, 81, 182) 0%,
    rgb(161, 120, 204) 21%,
    rgba(227, 220, 231, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh ;
}
.container,
.containerL {
  @include boxStyle(720px, 470px, $color1, 10px);
  display: flex;
  box-shadow: 0 0 5px 1.5px $color4;
}
.container {
  flex-direction: row-reverse;
  .imgContainer {
    border-radius: 0 10px 10px 0;
  }
}
.containerL {
  flex-direction: row;
  .imgContainer {
    border-radius: 10px 0 0 10px;
  }
}
.imgContainer {
  @include imgStyle(46%, 100%, 0);
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  color: $color1;
  text-align: center;
  padding: 110px 30px;
  h1 {
    padding: 20px;
  }
  p {
    margin-bottom: 30px;
  }
  a {
    display: inline-block;
    padding-top: 10px;
    text-decoration: none;
    @include boxStyle(160px, 40px, transparent, 30px);
    @include textStyle(16px, $color2, 100);
    border: 1px solid $color2;
    &:hover {
      background-color: $color3;
    }
  }
}
.formContainer {
  padding: 35px 40px;
  text-align: center;
  h2 {
    @include textStyle(27px, $color3, bold);
    padding-bottom: 23px;
  }
  button {
    @include boxStyle(160px, 40px, $color5, 30px);
    @include textStyle(16px, $color4, 100);
    border: none;
    margin: 7px 0;
    &:hover {
      background-color: $color3;
    }
  }
}
.infoContainer div {
  display: flex;
  align-items: baseline;
  @include textStyle(15px, $color3, normal);
  padding: 5px;
}
.infoContainer div:not(.checkContainer, .check) {
  position: relative;
  flex-direction: column;
  label {
    display: flex;
    align-items: center;
    position: absolute;
    pointer-events: none;
    top:15px;
    left: 24px;
    transition: all 0.1s ease;
    background-color: $color1;
  }

  input {
    @include boxStyle(280px, 43px, $color1, 20px);
    @include textStyle(16px, $color5, 100);
    border: 1px solid $color3;
    outline: none;
    padding-left: 20px;
    
    &:focus ~ label,
    &:focus ~ label,
    &:not([value=""]) ~ label {
      top: -3px;
    }
  }
  .errorInput {
    box-shadow: 0 0 5px 0.2px rgb(155, 35, 85);
  }
  .correctInput {
    box-shadow: 0 0 5px 0.2px rgb(67, 123, 243);
  }
  //for delete background color in auto complete
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }
}
span {
  height: 17px;
  padding: 3px 0 0 15px;
  // text-shadow:0 0 2px rgb(117, 7, 68);
  @include textStyle(12px, rgb(214, 122, 176), normal);
}

.infoContainer .checkContainer {
  flex-direction: column;
  padding: 0 0 0 13px;
  .check {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    label {
      width: fit-content;
    }
    input {
      //for costum styling the checkbox input
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      @include boxStyle(18px, 18px, $color2, 50%);
      border: 1px solid $color3;
      margin: 4px;

      &:checked {
        background-color: $color3;
        border-color: $color5;
      }
    }
  }
  span {
    padding: 0 0 0 8px;
  }
}

//responsive codes
//LARGE
@include media("L") {
  .container,
  .containerL {
    width: 500px;
    height: 400px;
  }
  .imgContainer {
    padding: 60px 10px;
    h1 {
      font-size: 22px;
    }
    a {
      padding: 4px;
      @include imgStyle(90px, 25px, 15px);
      font-size: 14px;
    }
  }
  .formContainer {
    padding: 15px 25px;
    h2 {
      font-size: 23px;
      padding-bottom: 20px;
    }
    button {
      width: 120px;
      height: 30px;
      font-size: 14px;
    }
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    div span {
      font-size: 11px;
      height: 17px;
    }
    div:not(.check, .checkContainer) {
      font-size: 12px;

      input {
        width: 200px;
        height: 35px;
        font-size: 13px;
      }
    }
    .checkContainer {
      label {
        font-size: 11px;
        padding: 0;
      }
      .check input {
        width: 15px;
        height: 15px;
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
//MEDIUM
@include media("M") {
  .container,
  .containerL {
    flex-direction: column;
    width: 260px;
    height: max-content;
    .imgContainer {
      width: 100%;
      height: 100px;
      padding: 0;
      border-radius: 5px 5px 0 0;
      h1 {
        font-size: 15px;
      }
      p {
        display: none;
      }
      a {
        font-size: 12px;
      }
    }
  }
  .formContainer {
    h2 {
      font-size: 18px;
    }
  }
  .infoContainer {
    div span {
      font-size: 10px;
      height: 15px;
    }
    .checkContainer {
      label {
        font-size: 10px;
      }
    }
  }
}
