@import "mixin";
@import "variables";
body {
  background: linear-gradient(
    20deg,
    rgb(130, 81, 182) 0%,
    rgb(161, 120, 204) 21%,
    rgba(227, 220, 231, 1) 100%
  );
}
.container {
  margin:75px auto;
  @include boxStyle(720px, 470px, $color1, 5px);
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 0 5px 1.5px $color4;
}
.imgContainer {
  @include imgStyle(46%, 100%, 0);
  background-image: url("../../images/bg.jpg");
  border-radius: 0 5px 5px 0;
  background-size: cover;
  color: $color1;
  text-align: center;
  padding: 110px 30px;
  h1 {
    padding: 20px;
  }

  a {
    display:inline-block;
    padding-top: 10px;
    text-decoration: none;
    @include boxStyle(160px, 40px, transparent, 30px);
    @include textStyle(16px, $color2, 100);
    border: 1px solid $color2;
    margin: 37px;
    &:hover {
      background-color: $color3;
    }
  }
}
.formContainer {
  padding:35px 40px ;
  text-align: center;
  h2 {
    @include textStyle(27px, $color3, bold);
    padding-bottom: 20px;
  }
  button {
   @include boxStyle(160px, 40px,$color5, 30px);
   @include textStyle(16px, $color4, 100);
   border: none;
   margin: 7px 0;
   &:hover {
     background-color: $color3;
   }
 }
 
}
.infoContainer div {
  display: flex;
  align-items: baseline;
  @include textStyle(15px, $color3, normal);
  padding:8px;}
  .infoContainer div:not(.checkContainer){
	position: relative;
flex-direction: column;
 
   &:focus-within{
       label {
           top: 0; 
           
       }
   }
 
	label{
      display: flex;
      align-items: center;
		position: absolute;
		pointer-events: none;
		top:20px;
		left:24px;
		transition: all 0.1s ease;
      background-color: $color2;
	}
   input{
      @include boxStyle(280px,43px,transparent,20px) ;
      @include textStyle(16px,$color5,100);
      border: 1px solid $color3;
      outline: none;
      padding-left:20px; 
}
span{
  padding-left: 15px;
  color:rgb(202, 36, 133);
  text-shadow:0 0 2px rgb(117, 7, 68);
}}

 
.infoContainer .checkContainer{
 
  flex-direction: row;

   label{
    width:fit-content; 
   }
   input{
      margin: 3px;
      accent-color:$color3;
   }
 }
  

